/* estilos generales */
html{
    scroll-behavior: smooth;
}
body{
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;   
}
/* se establecen los tamaños y margenes de los titulos y textos */
h1{font-size: 2.7em; margin: 5px 0px;}
h2{font-size: 2em; margin: 5px 0px;}
h3{font-size: 1.75em; margin: 5px 0px;}
p{font-size: 1.12em; margin: 5px 0px;}
/* la clase container se va a usar para divs importantes */
.container{
    max-width: 1400px;
    margin: 0px 0% 1em;
    padding: 15px;
    display: flex;
    flex-direction: column;
}
/* estilos del contenido en orden descendiente */
#esquina-sup-izq{
    display: flex;
    justify-content: flex-end;
    padding: 1%;
}
header{
    flex-direction: column;
    display: flex;
}
#esquina-sup-izq button{
    border: none;
    background-color: rgba(83, 83, 83, 0);
    font-size: 25px;
}
#presentacion > img{
    height: auto;
    width: 100%;
    max-height: 15vh;
}
#presentacion .img-container{
    height: 4vh;
}
#presentacion .img-container img{
    height: 10vh;
    position: relative;
    top: -6vh;
    left: 10px;
    border-radius: 50%;
}
#banner{
    object-fit: cover;
}
#perfil-info{
    display: flex;
    flex-direction: column;
}
#perfil-info p{
    margin: 18px 0px 13px;
}
.entrada{
    display: flex;
    flex-direction: row;
    margin: 20px 0px;
}
.entrada .img-container{
    height: 224px;
    margin-top: 15px;
}
.img-container img{
    height: 100%;
    max-width: 140px;
}
.entradatexto{
    display: flex;
    flex-direction: column;
    width: 70%;
    padding-left: 15px;
}
.lista-habilidades ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 5%;
}
.lista-habilidades li{
    list-style-type: none;
    height: 2em;
    font-weight: 500;
}
.lista-habilidades i{
    text-align: center;
    height: 25px;
    width: 25px;
    font-size: 20px;
    margin-right: 20px;
}

.entradaproyecto{
    display: flex;
    flex-direction: row;
    margin: 20px 0px;
    justify-content: space-around;
}
/* este estilo utiliza la subclase "nth-child(n)" que permite copiar y pegar para nuevos proyectos que se agreguen en el futuro */
.entradaproyecto:nth-child(2) .img-container{
    background-image: url("../IMG/proyecto1.png");
    background-size: cover;
    background-position: center, center;
    min-height: 233px;
    width: 201px;
}
.entradaproyecto:nth-child(3) .img-container{
    background-image: url("../IMG/proyecto2.png");
    background-size: cover;
    background-position: center, center;
    min-height: 233px;
    width: 201px;
}
.proyecto-texto{
    display: flex;
    flex-direction: column;
    width: 60%;
    padding-right: 10px;    
}
.proyecto-texto span{
    display: flex;
    align-items: baseline;
}
.proyecto-texto span p{
    margin-left: 0.5em;
}
.botonvisitar{
    padding: 5px 10px;
    font-size: 1.12em;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #303030;
    border: 2px solid #003e6d;
    border-radius: 10px;
    box-shadow: 0px 5px 0px #003e6d;
    max-width: 86px;
    max-height: 21px;
    transition: all 0.3s ease;
}
.botonapagado{
    padding: 5px 10px;
    margin-top: 4px;
    font-size: 1.12em;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: #c0c0c0;
    color: #222222;
    border: 2px solid #30404d;
    border-radius: 10px;
    max-width: 86px;
    max-height: 21px;
}
#proyectos .container{
    margin-bottom: 10px;
}
.contactocuerpo{
    display: flex;
    justify-content: space-around;
}
.contactocuerpo iframe{
    width: 36vw;
}
form{
    margin: 10px 30px;
}
input[type='text'], input[type='email'] {
    border: 2px solid #2F5A78;
    width: 150px;
    padding: 5px;
    margin-bottom: 5px;
}
textarea {
    border: 1px solid #2F5A78;
    width: 203px;
    padding: 5px;
    margin-bottom: 5px;
}
label {
    font-weight: bold;
}
input[type='submit'] {
    background-color: #2F5A78;
    border: none;
    border-radius: 7px;
    padding: 7px 15px;
    font-weight: bold;
    color: white;
    margin-bottom: 7px;
}
footer{
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#links img{
    height: 1em;
    margin-right: 4px;
}
#links p, #links a{
    display: flex;
    align-items: center;
}
#links a{
    text-decoration: none;
}
/* animaciones / trancisiones */
body > section img, #proyectos .img-container {
    transition: transform 1s ease;
}
body > section img:hover, #proyectos .img-container:hover {
    transform: scale(1.2);
} 
#esquina-sup-izq button i{
    transition: transform 1s ease, rotate 1s ease;
}
#esquina-sup-izq button i:hover{
    transform: scale(1.175);
    rotate: 345deg;
}
.botonvisitar:hover {
    background-color: #c0c0c0;
    color: #222222;
    border: 2px solid #30404d;
    box-shadow: 0px 5px 0px #30404d;
}

.botonvisitar:active {
    background-color: #ffffff;
    color: black;
    box-shadow: none;
    transform: translateY(4px);
}

/* @media contiene el estilo para el ancho de pantalla de 720 pixeles o más */
@media (min-width:720px){
    .container{
        margin: auto auto 1.5em;
        border-radius: 20px;
    }
    section{
        margin: 0% 10%;
    }
    #esquina-sup-izq{
        position: fixed;
        width: 100%;
    }
    #esquina-sup-izq button{
        margin-right: 2%;
    }
    #banner{
        margin-top: 35px;
        border-radius: 20px 20px 0px 0px;
    }
    #esquina-sup-izq{
        padding: 7px;
    }
    #presentacion{
        display: flex;
        flex-direction: column;
    }
    #presentacion .container{
        border-radius: 0px 0px 20px 20px;
    }
    #presentacion .img-container img{
        height: 10vw;       
        max-height: 125px;
    }
    #presentacion .img-container{
        height: 6vw;       
    }
    .entrada{
        margin: 20px 5%;
    }
    .container h1{
        margin: 5px 19px;
    }
    #perfil, #perfil-info{
        padding: 0px 2%;
    }
    .lista-habilidades ul{
        padding-left: 10%;
    }
    .contactocuerpo iframe{
        border-radius: 20px;
    }
    #links{
        display: flex;
    }
    #links img{
        margin-left: 4vw;
    }
}